## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [65]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

print (df_mat)

    Qt_acertos
0            6
1           19
2           14
3           10
4            7
..         ...
95           6
96           8
97          23
98           0
99          11

[100 rows x 1 columns]

In [66]:
# 1) Seu código aqui



pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo /  8
pc_ing = df_ing /  8
pc_his = df_his /  8
pc_fis = df_fis /  8
pc_qui = df_qui /  8

In [67]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [68]:
# 3) Seu código aqui
total/90

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [69]:
# 4) Seu código aqui
total_gt_45 = total[total['Qt_acertos'] > 45]
total_gt_45.count()

Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [70]:
# seu código aqui
df_eliminados = total[(df_mat['Qt_acertos'] == 0) | 
                      (df_fis['Qt_acertos'] == 0) | 
                      (df_qui['Qt_acertos'] == 0)]

df_eliminados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [71]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-ac723ff3-c39b-41de-8f26-ca8271c4eb50.c000.csv'

In [72]:
# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep=';', low_memory = False)

In [73]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,948c91d0-36a1-4511-941a-1525ec465a19-i0b0,499e3ff9e20caf9c95494975bef1972b4985d25096a10b...,34,1987-05-07,F,4,AMARELA,120025,10,EPITACIOLANDIA,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/00394544000851,2021-10-25,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1,5154ca9f-b601-4e6c-bf50-142f6a66bde4-i0b0,1516bd2f6019ccf528a48d4f340bb661e16bb914e68e29...,16,2005-09-04,M,3,PARDA,110013,10,MACHADINHO D'OESTE,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/00394544000851,2021-11-05,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,a4010f97-60fd-408c-862f-28e4feb5ef66-i0b0,67a750ac59c91baad339a6200c7b4526b5c08b3cbad45a...,67,1954-01-21,M,1,BRANCA,120020,10,CRUZEIRO DO SUL,...,2.0,Faixa Etária,FH4750,PFIZER,Organization/28290,2021-11-26,Reforço,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,518f8126-bfa5-4c9a-81db-4401e7706b15-i0b0,8550e21e17904e26e85d48f505861622272f2725c0e256...,27,1994-12-27,M,3,PARDA,120034,10,MANOEL URBANO,...,2.0,Faixa Etária,219VCD292Z,ASTRAZENECA/FIOCRUZ,149,2022-03-23,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
4,f3eed8ec-0d32-4078-b2b0-4241a947d96c-i0b0,d3ab02e8d5241c5ad724c1000fb0986b4db580b7b23b14...,33,1988-06-26,M,99,SEM INFORMACAO,120060,10,TARAUACA,...,6.0,Povos e Comunidades Tradicionais,210198,ASTRAZENECA,Organization/00394544000851,2021-08-16,2ª Dose,89,COVID-19 ASTRAZENECA - ChAdOx1-S,Novo PNI

In [74]:
df.shape[0]

344359

In [75]:
# 2) 
df['paciente_id'].nunique()

289147

In [76]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

116627

In [77]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

116627

In [78]:
# 4
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

54178

In [79]:
# 5
df['estabelecimento_razaoSocial'].nunique()

51

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [80]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [81]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [82]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

Faixa Etária                                      33652
Outros                                             3703
Povos Indígenas                                    1806
Povos e Comunidades Tradicionais                    449
Trabalhadores de Saúde                              238
População Privada de Liberdade                       49
Comorbidades                                         33
Gestantes                                            22
Pessoas com Deficiência                               3
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Trabalhadores da Educação                             1
Name: vacina_categoria_nome, dtype: int64

In [83]:
# 4)
lista_variaveis = ['estabelecimento_valor',
                   'estabelecimento_razaoSocial', 
                   'estalecimento_noFantasia',
                   'estabelecimento_municipio_codigo',
                   'estabelecimento_municipio_nome',
                   'estabelecimento_uf']

print (lista_variaveis)

['estabelecimento_valor', 'estabelecimento_razaoSocial', 'estalecimento_noFantasia', 'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome', 'estabelecimento_uf']

In [84]:
# 5)
df_menor_lista = df_menor.loc[:,lista_variaveis]

print (df_menor_lista)

        estabelecimento_valor  \
1                     2000962
16                    2001101
20                    6917291
29                    6917291
32                    6917291
...                       ...
344347                2002876
344349                6917291
344350                6289312
344352                2000571
344356                2001349

                              estabelecimento_razaoSocial  \
1                   PREFEITURA MUNICIPAL DE MANUEL URBANO
16                     PREFEITURA MUNICIPAL DE PORTO ACRE
20                     PREFEITURA MUNICIPAL DE RIO BRANCO
29                     PREFEITURA MUNICIPAL DE RIO BRANCO
32                     PREFEITURA MUNICIPAL DE RIO BRANCO
...                                                   ...
344347                       SECRETARIA MUNCIPAL DE SAUDE
344349                 PREFEITURA MUNICIPAL DE RIO BRANCO
344350  DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...
344352            PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL
344356                  PREFEITURA MUNICIPAL DE BRASILEIA

                                 estalecimento_noFantasia  \
1                           UNIDADE DE SAUDE JOSEFA NUNES
16      UNIDADE DE SAUDE DA FAMILIA RAIMUNDA BITENCOUR...
20      DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...
29      DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...
32      DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...
...                                                   ...
344347   CENTRO DE SAUDE RAIMUNDA PORFIRIO DE BRITO RAMOS
344349  DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...
344350                   POLO BASE DE SANTA ROSA DO PURUS
344352           UNIDADE DE SAUDE DA FAMILIA GERALDO MAIA
344356                             ESF TUFIC MIZAEL SAADY

        estabelecimento_municipio_codigo estabelecimento_municipio_nome  \
1                                 120034                  MANOEL URBANO
16                                120080                     PORTO ACRE
20                                120040                     RIO BRANCO
29                                120040                     RIO BRANCO
32                                120040                     RIO BRANCO
...                                  ...                            ...
344347                            120013                         BUJARI
344349                            120040                     RIO BRANCO
344350                            120043            SANTA ROSA DO PURUS
344352                            120020                CRUZEIRO DO SUL
344356                            120010                      BRASILEIA

       estabelecimento_uf
1                      AC
16                     AC
20                     AC
29                     AC
32                     AC
...                   ...
344347                 AC
344349                 AC
344350                 AC
344352                 AC
344356                 AC

[59872 rows x 6 columns]

In [85]:
# 6)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(114, 6)